<!DOCTYPE html>
<html>
  <head>
    <title>Приложение</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>

  <% if current_staff.present? %>
    <%= javascript_pack_tag 'staff' %>
  <% elsif current_client.present? %>
    <%= javascript_pack_tag 'client' %>
  <% end %>
</html>
